In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('Almaty_dataset.csv')

data.head()

,"Площадь, м²",Комнаты,Местоположение,Состояние,Тип дома,Этаж,Год постройки,Потолки,Цена
0,38.0,1.0,1,4,2,11,2019.0,2.86,27999999
1,60.4,2.0,1,0,2,30,2024.0,3.00,18724000
2,40.0,1.0,1,2,2,26,2014.0,2.90,19000000
3,67.0,2.0,1,4,2,0,2018.0,2.86,34000000
4,46.0,2.0,1,4,2,26,2011.0,2.86,25700000

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35342 entries, 0 to 35341
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Площадь, м²     35342 non-null  float64
 1   Комнаты         35342 non-null  float64
 2   Местоположение  35342 non-null  int64
 3   Состояние       35342 non-null  int64
 4   Тип дома        35342 non-null  int64
 5   Этаж            35342 non-null  int64
 6   Год постройки   35342 non-null  float64
 7   Потолки         35342 non-null  float64
 8   Цена            35342 non-null  int64
dtypes: float64(4), int64(5)
memory usage: 2.4 MB

In [4]:
data.isna().sum()

Площадь, м²       0
Комнаты           0
Местоположение    0
Состояние         0
Тип дома          0
Этаж              0
Год постройки     0
Потолки           0
Цена              0
dtype: int64

In [14]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import LabelEncoder

encoder = LabelEncoder()

X = data.drop(('Цена'), axis=1)
y = data['Цена']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=42)

model = RandomForestRegressor()
model.fit(X_train, y_train)

predictions = model.predict(X_test)

mse = mean_squared_error(y_test, predictions)
print(f'MSE: {mse}')

MSE: 406921696875478.9

In [17]:
from sklearn.metrics import r2_score

r_squared = r2_score(y_test, predictions)
print(f'R-squared: {r_squared}')

R-squared: 0.8542774999616659

In [21]:
y_test.shape

(7069,)

In [22]:
predictions = predictions.astype('int')
df = pd.DataFrame({
    'Actual Price': y_test,
    'Predicted Price': predictions
})

df.head(10)

       Actual Price  Predicted Price
1398       30000000         36325000
20531      46300000         44787816
9085       16600000         10648825
7178       38000000         27694000
22969      52500000         49300733
25906     160000000        161720000
7193       21000000         17629166
20270      61500000         62775000
2308       42000000         32444650
8765       55000000         44235555

In [23]:
df.to_csv('new/predictions.csv', index=True)